@import url("./fonts.css");

html ,body{
    margin: 0%;
    box-sizing: border-box  ;
    width: 100%;
    padding: auto;
    height: 100%;

}
/* css variables */
:root{
    --primary-color1: #4458dc;
    --primary-color2: #854fee;
    --title-color:#141313;
    --text-color:#777777;
    --dark:#161616;
    --dark2:#232A34;
    --border-color:#201f1f17;
    --gradient-color:linear-gradient(#4458dc,#854fee);
    --shadow-color: 0px 10px 30px rgba(118,85,255,0.3);
    --box-shadow: 0px 10px 30px rgba(138, 195, 209, 0.205);

    /* font family variables */
    --roboto: 'Roboto',cursive;
    --LuxuriousRoman : 'LuxuriousRoman-Regular';
    --Quicksand:'Quicksand';

}